.hero {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("overlay.png");

  max-width: 100%;
  height: 265px;
  top: 135px;
  background-color: #ebcfae;
  text-align: center;
}

.hero h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin-top: 47px;
  padding-top: 47px;
}
.hero h2 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 14px;
}

.food-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38.19px;
}
.photos {
  margin-top: 100px;
}

img {
  position: static;
  width: 560px;
  height: 350px;
  left: 0px;
  top: 0px;
}

@media (max-width: 600px) {
  .hero {
    width: 600px;
    height: 130spx;
    top: 135px;
    background-color: #ebcfae;
    text-align: center;
  }
  .hero h1 {
    padding-top: 65px;
    font-size: 30px;
    font-weight: bolder;
  }
  .hero h2 {
    font-size: 20px;
  }
}
.about-head h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 98.21px;
  text-align: center;
}

.about-head h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 87.3px;
}

.about-head p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.about-head img {
  position: relative;
  width: 460px;
  height: 450px;
}

.about-head h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.head-container {
  padding: 50px;
}
i {
  padding-left: 30px;
}

.collection-img {
  top: 70px;
  width: 760px;
}

.recipe-collection {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 49.1px;
}
hr {
  color: turquoise;
  border-width: 1px;
  border-style: dashed;
}

.step {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24.55px;
  color: #f65282;
}

.recipe-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.method {
  padding: 40px 350px 40px 350px;
}

.contact-ways h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24.55px;
  color: darkviolet;
}

nav {
  padding-top: 40px;
}
.ingredients {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0rem;
  color: #272044;
}
ul {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  list-style-type: none;
  font-size: 16px;
  line-height: 21.82px;
  margin-left: 850px;
  margin-top: 0px;
}

li {
  display: inline;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #272044;
  padding-left: 15px;
}

.active {
  color: violet;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 0rem;
  color: #272044;
}
.rights {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18.75px;
  text-align: right;
  margin-top: 10px;
}
footer {
  background-color: #f9f7fe;
  padding: 20px;
}
