.hero {
  background-image: url("anatomy-head.jpg");
  background-color: #ebcfae;
  text-align: center;
}
.hero h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-weight: 700, bold;
}
.hero h2 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 700, bold;
}
